<h2>My Plants!</h2>
<button (click)="goToAllAgain()">Show All Plants</button>
<!-- <div>
  <label>Plant name:</label> <input #plantName />
  <button (click)="add(plantName.value); plantName.value=''">
    Add
  </button>
</div> -->
<ul class="plants">
<li *ngFor="let plant of plants"
  [class.selected]="plant === selectedPlant"
  (click)="onSelect(plant)">
  <span class="badge {{plant.type}}" (click)="goToType(plant)">{{plant.type}}</span>{{plant.name}}
  <button class="delete-button" (click)="deletePlant(plant, $event)">Delete</button>
</li>
</ul>
<div class="error" *ngIf="error">{{error}}</div>
<button (click)="addPlant()">Add New Plant</button>

<div *ngIf="addingPlant">
  <my-plant-detail (close)="close($event)"></my-plant-detail>
</div>
<br>

<div *ngIf="selectedPlant">
  <h2>
    {{selectedPlant.name}} is a {{selectedPlant.type}}
  </h2>
  <button (click)="goToDetail()">View Details</button>
</div>
